@font-face {
    font-family: 'libre_baskervillebold';
    src: url('./fonts/Libre_Baskerville/bold/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('./fonts/Libre_Baskerville/bold/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'geometos_neuebold';
    src: url('./fonts/geometos_neue/bold/geometos_neue_bold-webfont.woff2') format('woff2'),
         url('./fonts/geometos_neue/bold/geometos_neue_bold-webfont.woff-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometos_neuelight';
    src: url('./fonts/geometos_neue/light/geometos_neue_light-webfont.woff2') format('woff2'),
         url('./fonts/geometos_neue/light/geometos_neue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'thicccboiregular';
    src: url('./fonts/Thicccboi/regular/thicccboi-regular-webfont.woff2') format('woff2'),
         url('./fonts/Thicccboi/regular/thicccboi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}