// Colors
$white: white;
$black: #292929;

// Dashboard
$color-1: #64996b;


// Fonts
$font_1_bold: 'geometos_neuebold';
$font_1_light: 'geometos_neuelight';
$font_2: 'libre_baskervillebold';
$font_3-regular: 'thicccboiregular';


// Global
$radius: 6px;


// Responsive
$mobile: 768px;
$tablet: 1200px;